<ngb-toast *ngIf="toast?.show" [autohide]="false" (hidden)="toast.show=false" [class]="toast.className">
  {{toast.message}}
</ngb-toast>
<div class="container-fluid">
  <div class="row">
    <div class="d-none col-md-6 d-md-flex align-items-center justify-content-center vh-100">
      <img src="./../../assets/Logo_of_Twitter.svg" alt="Twitter Logo" class="w-50">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center vh-100">
      <ng-container *ngIf="login==true; then loginForm else signUpForm">
      </ng-container>
    </div>
  </div>
</div>
<ng-template #loginForm>
  <app-form-login (loginEvent)="getLoginValue($event)"></app-form-login>
</ng-template>

<ng-template #signUpForm>
  <app-form-sign-up (loginEvent)="getLoginValue($event)" (toastEvent)="getToastMessage($event)"></app-form-sign-up>
</ng-template>


