<nav class="navbar navbar-expand-lg flex-column">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="navbar-brand" href="#">
            <img src="assets/Logo_of_Twitter.svg" alt="Twitter-Logo" width="30" height="24"
                 class="d-inline-block align-text-top">
            Twitter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">
            <i class="bi bi-house"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/explore">
            <i class="bi bi-search"></i>
            Explore
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/profile">
            <i class="bi bi-person"></i>
            My Profile
          </a>
        </li>
        <li class="nav-item">
          <button class="nav-link active" aria-current="page" (click)=logOut()>
            <i class="bi bi-box-arrow-right"></i>
            LogOut
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
