<form [formGroup]="signUp">
  <div class="mb-3">
    <input type="text" formControlName="username" placeholder="username" class="form-control">
  </div>
  <div class="mb-3">
    <input type="text" formControlName="email" placeholder="email" class="form-control">
  </div>
  <div class="mb-3">
    <input type="password" formControlName="password" placeholder="password" class="form-control">
  </div>
  <div class="d-grid gap-2">
    <button type="submit" (click)="signUpUser()" class="btn btn-primary">Confirm</button>
  </div>
</form>

<p class="fs-6 pt-5">
  Already have an account?
</p>
<div class="d-grid gap-2">
  <button type="button" (click)="goToLogin()" class="btn btn-outline-primary">Login</button>
</div>
