<ngb-toast *ngIf="toast?.show" (hidden)="toast.show=false" [class]="toast.className">
  {{toast.message}}
</ngb-toast>

<div *ngIf="userInfo">
  <img src="./assets/profile-backgroud.jpg" alt="profile-background" class="img-fluid w-100 object-fit-cover">
  <h3 *ngIf="userInfo.username">@{{userInfo.username}}</h3>
  <h3 *ngIf="!userInfo.username">My Profile</h3>
    <button type="button" class="btn btn-dark btn-sm float-end" (click)="unfollowUser()" *ngIf="this.id">Unfollow</button>
    <button type="button" class="btn btn-dark btn-sm float-end me-1" (click)="followUser()" *ngIf="this.id">Follow</button>
</div>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (navChange)="onNavChange($event)">
  <li [ngbNavItem]="1">
    <button ngbNavLink>Post</button>
    <ng-template ngbNavContent>
      <app-pagination (pageEvent)="getPageValue($event)" [currentPage]="this.page"
                      [nextValue]="tweetCount==0"></app-pagination>
      <ng-container *ngIf="tweets">
        <div *ngFor="let tweet of tweets">
          <app-tweet [tweet]="tweet"></app-tweet>
          <br>
        </div>
      </ng-container>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Followers</button>
    <ng-template ngbNavContent>
      <app-followers [id]="this.id"></app-followers>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink>Following</button>
    <ng-template ngbNavContent>
      <app-following [id]="this.id"></app-following>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
